app = "iys-sgd-admin"
primary_region = "bom"

[build]
  dockerfile = "admin/Dockerfile"
  
[deploy]
release_command = "python manage.py migrate --noinput"

[env]
PORT = "8080"
DJANGO_SETTINGS_MODULE = "iys_sgd_backend.settings.admin"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 0
processes = ["app"]

[[vm]]
memory = "512mb"
cpus = 1

[[statics]]
guest_path = "/app/static"
url_prefix = "/static/"
